In [1]:
import mysql.connector as connection
db = connection.connect(host="localhost",user="root",db="adityaraj",passwd="mysql",use_pure=True)
cur = db.cursor()
cur.execute("show tables")
cur.fetchall()

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

In [2]:
class rem_whitespaces:
    try:
        @staticmethod
        def trim_from_right(tbl_name,col_name):
            cur.execute(f"select rtrim({col_name}) from {tbl_name}")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
r = rem_whitespaces()
r.trim_from_right('worker','first_name')

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

In [3]:
class unique_vals:
    try:
        @staticmethod
        def dept_uniq(tbl_name,col_name):
            cur.execute(f"(select distinct({col_name}) , length({col_name}) from {tbl_name}) ")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
u = unique_vals()
u.dept_uniq("worker","department")

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [4]:
class max_sal:
    try:
        @staticmethod
        def n_max_sal(tbl_name,col_name,n):
            cur.execute(f"select {col_name} from {tbl_name} order by {col_name} desc limit {n}")
            for i in cur.fetchall():
                print(i[0])
    except Exception as e:
        print(e)
m = max_sal()
no = int(input("Enter the number :- "))
m.n_max_sal("worker","emp_salary",no)

Enter the number :- 3
85000.0
82000.0
78000.0