In [1]:
import mysql.connector as connection
db = connection.connect(host="localhost",user="root",passwd="mysql",db="adityaraj",use_pure=True)
cur = db.cursor()
cur.execute("show tables")
cur.fetchall()

[('employee',), ('glass',), ('glass1',), ('worker',)]

Q.1 - Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [2]:
class highest_sal_5:
    try:
        @staticmethod
        def fifth_highest_sal(tbl_name,col_name):
            cur.execute(f"select {col_name} from (select {col_name} , dense_rank() over(order by {col_name} desc)sal from {tbl_name})emp_sal where sal=5")
            for i in cur.fetchall():
                print(i[0])
    except Exception as e:
        print(e)
h = highest_sal_5()
h.fifth_highest_sal("worker","emp_salary")

63000.0

Q.2 - Write an SQL query to fetch the list of employees with the same salary.

In [3]:
class same_sal:
    try:
        @staticmethod
        def emp_with_same_sal(tbl_name,col_name):
            cur.execute(f"select * from {tbl_name} where {col_name} in (select {col_name} from {tbl_name} group by {col_name} having count({col_name})>1) ")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
s = same_sal()
s.emp_with_same_sal("worker","emp_salary")

(11, 'Amitabh', 'Pandey', 'Comp', 56000.0)
(13, 'Satish', 'Banerjee', 'Electrical', 30000.0)
(15, 'Nicolas', 'Benjamin', 'Electrical', 56000.0)
(16, 'Steven', 'Giroud', 'Mechanical', 30000.0)