In [1]:
import mysql.connector as connection
con = connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True,database="adityaraj")
cur = con.cursor()
cur.execute("show tables")
cur.fetchall()

[('glass',), ('glass1',)]

In [2]:
class table:
    @staticmethod
    def create(tabl):
        cur.execute(f"create table {tabl}(id int , FIRST_NAME varchar(30),LAST_NAME varchar(30),DEPARTMENT varchar(40))")
        con.commit()
t = table()
t.create("Worker")

In [3]:
cur.execute("show tables")
cur.fetchall()

[('glass',), ('glass1',), ('worker',)]

In [4]:
class insert:
    try:
        @staticmethod
        def insert_values(table_name,id1,f,l,d): 
            cur.execute(f"insert into {table_name} values{(id1,f,l,d)}")
            con.commit()
    except Exception as e:
        print(e)
i = insert()
i.insert_values("Worker",1,"John","Stark","Comp")
i.insert_values("Worker",2,'Steve','Cole','Electrical')
i.insert_values("Worker",3,'Bruce','Banner','Comp')
i.insert_values("Worker",4,'John','Wick','Civil')
i.insert_values("Worker",5,'Harry','Bush','Electrical')
i.insert_values("Worker",6,'Ashley','Vidic','Comp')
i.insert_values("Worker",7,'Paul','Walker','Civil')
i.insert_values("Worker",8,'Rio','Stark','Mechanical')
i.insert_values("Worker",9,'Sergio','Rogers','Comp')
i.insert_values("Worker",10,'Justin','Sule','Mechanical')

In [5]:
cur.execute("select * from Worker")
cur.fetchall()

[(1, 'John', 'Stark', 'Comp'),
 (2, 'Steve', 'Cole', 'Electrical'),
 (3, 'Bruce', 'Banner', 'Comp'),
 (4, 'John', 'Wick', 'Civil'),
 (5, 'Harry', 'Bush', 'Electrical'),
 (6, 'Ashley', 'Vidic', 'Comp'),
 (7, 'Paul', 'Walker', 'Civil'),
 (8, 'Rio', 'Stark', 'Mechanical'),
 (9, 'Sergio', 'Rogers', 'Comp'),
 (10, 'Justin', 'Sule', 'Mechanical')]

Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.

In [6]:

class fetch:
    try:
        @staticmethod
        def fetch_table(table_name,col_name,alias_name):
            cur.execute(f"select {col_name} as {alias_name} from {table_name} ")
            for i in cur.description:
                print(i[0])
            for j in cur.fetchall():
                print(j[0])
    except Exception as e:
        print(e)
f = fetch()
f.fetch_table("Worker","FIRST_NAME","WORKER_NAME")

WORKER_NAME
John
Steve
Bruce
John
Harry
Ashley
Paul
Rio
Sergio
Justin

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [7]:
class unique:
    try:
        @staticmethod 
        def fetch_unique(col_name,table_name):
            cur.execute(f"select distinct({col_name}) from {table_name}")
            for i in cur.fetchall():
                print(i[0])
    except Exception as e:
        print(e)
u = unique()
u.fetch_unique('DEPARTMENT','Worker')

Comp
Electrical
Civil
Mechanical

Q-3. Write an SQL query to show the last 5 record from a table.

In [8]:
class last_5:
    try:
        @staticmethod
        def fetch_last_5(col_name,table_name):
            cur.execute(f"(select * from {table_name} order by {col_name} desc limit 5)order by id asc  ")
            
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
l = last_5()
l.fetch_last_5("id","Worker")

(6, 'Ashley', 'Vidic', 'Comp')
(7, 'Paul', 'Walker', 'Civil')
(8, 'Rio', 'Stark', 'Mechanical')
(9, 'Sergio', 'Rogers', 'Comp')
(10, 'Justin', 'Sule', 'Mechanical')