In [1]:
import mysql.connector as connection
db = connection.connect(host = "localhost",db="adityaraj",user="root",passwd="mysql",use_pure=True)
cur = db.cursor()
cur.execute("show tables")
cur.fetchall()

[('glass',), ('glass1',), ('worker',)]

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [2]:
class first_3:
    try:
        @staticmethod
        def extract_first3(tbl_name,col_name,start,length):
            cur.execute(f"select substring({col_name},{start},{length})  from {tbl_name}")
            for i in cur.fetchall():
                print(i[0])
    except Exception as e:
        print(e)
f = first_3()
f.extract_first3("worker","FIRST_NAME",1,3)

Joh
Ste
Bru
Joh
Har
Ash
Pau
Rio
Ser
Jus
Ami

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [3]:
class find_a:
    try:
        @staticmethod
        def find_pos_a(tbl_name,col_name,value_to_find,value_to_find_from):
            cur.execute(f"select position(binary '{value_to_find}' in {col_name}) from {tbl_name} where {col_name}='{value_to_find_from}'")
            for i in cur.fetchall():
                print(f"The Position of {value_to_find} in {value_to_find_from} is :- ",i[0])
    except Exception as e:
        print(e)
        
f = find_a()
f.find_pos_a("worker","FIRST_NAME","a","Amitabh")

The Position of a in Amitabh is :-  5

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [4]:
class emp:
    try:
        @staticmethod
        def emp_highest_sal(tbl_name,col1_name,col2_name,col3_name):
            cur.execute(f"select {col1_name},{col2_name},{col3_name} from {tbl_name} where ({col2_name} , {col3_name} ) in (select max({col2_name}),{col3_name} from worker group by {col3_name} )")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
e = emp()
e.emp_highest_sal('worker','first_name','emp_salary','department')

('John', 53000.0, 'Civil')
('Harry', 85000.0, 'Electrical')
('Ashley', 78000.0, 'Comp')
('Justin', 82000.0, 'Mechanical')