In [1]:
import mysql.connector as connection
db = connection.connect(host="localhost",user="root",db="adityaraj",passwd="mysql",use_pure=True)
cur = db.cursor()
cur.execute("show tables")
cur.fetchall()

[('glass',), ('glass1',), ('worker',)]

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [2]:
class replace:
    try:
        @staticmethod
        def change_a_to_A(tbl_name,col_name,char_to_replace,char_to_replace_with):
            cur.execute(f"select {col_name} from {tbl_name}")
            for i in cur.fetchall():
                cur.execute(f"select '{i[0]}' , replace('{i[0]}','{char_to_replace}','{char_to_replace_with}')")
                for j in cur.fetchall():
                    print(j)
                    
    except Exception as e:
        print(e)
r = replace()
r.change_a_to_A("worker","first_name","a","A")

('John', 'John')
('Steve', 'Steve')
('Bruce', 'Bruce')
('John', 'John')
('Harry', 'HArry')
('Ashley', 'Ashley')
('Paul', 'PAul')
('Rio', 'Rio')
('Sergio', 'Sergio')
('Justin', 'Justin')
('Amitabh', 'AmitAbh')

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [3]:
class order:
    try:
        @staticmethod
        def worker_details(tbl_name,col1_name,col2_name):
            cur.execute(f"select * from {tbl_name} order by {col1_name} asc , {col2_name} desc")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
o = order()
o.worker_details('worker','first_name','department')

(11, 'Amitabh', 'Pandey', 'Comp', 56000.0)
(6, 'Ashley', 'Vidic', 'Comp', 78000.0)
(3, 'Bruce', 'Banner', 'Comp', 50000.0)
(5, 'Harry', 'Bush', 'Electrical', 85000.0)
(1, 'John', 'Stark', 'Comp', 65000.0)
(4, 'John', 'Wick', 'Civil', 53000.0)
(10, 'Justin', 'Sule', 'Mechanical', 82000.0)
(7, 'Paul', 'Walker', 'Civil', 32000.0)
(8, 'Rio', 'Stark', 'Mechanical', 49000.0)
(9, 'Sergio', 'Rogers', 'Comp', 63000.0)
(2, 'Steve', 'Cole', 'Electrical', 55000.0)

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [4]:
class max_salary:
    try:
        @staticmethod
        def emp_highest_sal(tbl_name,col1_name,col2_name,no_of_workers):
            cur.execute(f"select {col1_name} from {tbl_name} order by {col2_name} desc limit {no_of_workers} ")
            for i in cur.fetchall():
                print(i[0])
    except Exception as e:
        print(e)
m = max_salary()
n = int(input("Enter the no of workers having highest salary :-"))
m.emp_highest_sal("worker","first_name","emp_salary",n)

Enter the no of workers having highest salary :-2
Harry
Justin