In [1]:
import mysql.connector as connection
db = connection.connect(host="localhost",user="root",passwd="mysql",db="adityaraj",use_pure=True)
cur = db.cursor()
cur.execute("show tables")
cur.fetchall()

[('glass',), ('glass1',), ('worker',)]

Q.1 - Write an SQL query to show only odd rows from aÂ table.

In [5]:
class odd_rows:
    try:
        @staticmethod
        def show_odd_rows(tbl_name,col_name):
            cur.execute(f"select * from {tbl_name} where {col_name} % 2 = 1")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
o = odd_rows()
o.show_odd_rows("worker","id")

(1, 'John', 'Stark', 'Comp', 65000.0)
(3, 'Bruce', 'Banner', 'Comp', 50000.0)
(5, 'Harry', 'Bush', 'Electrical', 85000.0)
(7, 'Paul', 'Walker', 'Civil', 32000.0)
(9, 'Sergio', 'Rogers', 'Comp', 63000.0)
(11, 'Amitabh', 'Pandey', 'Comp', 56000.0)
(13, 'Satish', 'Banerjee', 'Electrical', 30000.0)

Q.2 - Write an SQL query to clone a new table from another table.

In [10]:
class clone_tbl:
    try:
        @staticmethod
        def create_table(old_tbl_name , new_tbl_name):
            cur.execute(f"create table {new_tbl_name} select * from {old_tbl_name}")
            db.commit()
    except Exception as e:
        print(e)
c = clone_tbl()
c.create_table("worker","Employee")

In [11]:
class show_cloned_tbl:
    try:
        @staticmethod
        def new_coloned_tbl(tbl_name):
            cur.execute(f"select * from {tbl_name}")
            for i in cur.fetchall():
                print(i)
    except Exception as e:
        print(e)
s = show_cloned_tbl()
s.new_coloned_tbl("Employee")   #Employee is the new cloned table

(1, 'John', 'Stark', 'Comp', 65000.0)
(2, 'Steve', 'Cole', 'Electrical', 55000.0)
(3, 'Bruce', 'Banner', 'Comp', 50000.0)
(4, 'John', 'Wick', 'Civil', 53000.0)
(5, 'Harry', 'Bush', 'Electrical', 85000.0)
(6, 'Ashley', 'Vidic', 'Comp', 78000.0)
(7, 'Paul', 'Walker', 'Civil', 32000.0)
(8, 'Rio', 'Stark', 'Mechanical', 49000.0)
(9, 'Sergio', 'Rogers', 'Comp', 63000.0)
(10, 'Justin', 'Sule', 'Mechanical', 82000.0)
(11, 'Amitabh', 'Pandey', 'Comp', 56000.0)
(12, 'Mikhail', 'Tal', 'Civil', 60000.0)
(13, 'Satish', 'Banerjee', 'Electrical', 30000.0)
(14, 'Vipul', 'Dhawan', 'Civil', 62000.0)